[submodule "ext/syncthing/src/github.com/syncthing/syncthing"]
	path = ext/syncthing/src/github.com/syncthing/syncthing
	url = https://github.com/syncthing/syncthing.git
	ignore = dirty
[submodule "ext/golang/go"]
	path = ext/golang/go
	url = https://github.com/golang/go.git
	ignore = dirty
[submodule "ext/golang/go1.4"]
	path = ext/golang/go1.4
	url = https://github.com/golang/go.git
	ignore = dirty
