<?xml version="1.0" encoding="utf-8" ?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  xmlns:tools="http://schemas.android.com/tools"
		package="com.nutomic.syncthingandroid"
		android:versionCode="13"
		android:versionName="0.3.10"
		tools:ignore="GradleOverrides" >

	<uses-sdk android:minSdkVersion="8" android:targetSdkVersion="19" />

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.INTERNET" />

	<application
			android:allowBackup="false"
			android:label="@string/app_name"
			android:icon="@drawable/ic_launcher"
			android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >

		<activity
				android:name=".gui.MainActivity"
				android:label="@string/app_name"
				android:launchMode="singleTop" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
				android:name=".gui.WebGuiActivity"
				android:label="@string/web_gui_title" >
			<meta-data
					android:name="android.support.PARENT_ACTIVITY"
					android:value=".gui.MainActivity" />
		</activity>

		<activity
				android:name=".gui.SettingsActivity"
				android:label="@string/settings_title" >
			<meta-data
					android:name="android.support.PARENT_ACTIVITY"
					android:value=".gui.MainActivity" />
		</activity>

		<service android:name=".syncthing.SyncthingService" />

		<activity
				android:name=".gui.RepoSettingsActivity"
				android:theme="@style/DialogWhenLargeCompat" >
			<meta-data
					android:name="android.support.PARENT_ACTIVITY"
					android:value=".gui.MainActivity" />
		</activity>

		<activity
				android:name=".gui.NodeSettingsActivity"
				android:theme="@style/DialogWhenLargeCompat" >
			<meta-data
					android:name="android.support.PARENT_ACTIVITY"
					android:value=".gui.MainActivity" />
		</activity>

	</application>
</manifest> 
